@model DatabaseAccess.tbl_category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_encyptedstring)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_encyptedstring)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMark)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.SubjectTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectTable.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
