@model IEnumerable<DatabaseAccess.tbl_category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cat_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cat_encyptedstring)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TBL_ADMIN.AD_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cat_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cat_encyptedstring)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TBL_ADMIN.AD_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cat_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cat_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cat_id })
        </td>
    </tr>
}

</table>
