
@{
    ViewBag.Title = "AllStaff";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Student Attendance</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Attend Date
                        </th>
                        <th>
                            Check In
                        </th>
                        <th>
                            Check Out
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Message)
                    {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Designation
                        </td>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            @item.CheckIn
                        </td>
                        <td>
                            @item.CheckOut
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>